/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

$color-lightgrey: #f8f9fc;
$color-white: #fff;
$color-red: #ce001b;
$color-darkred: #a80016;
$color-black: #000;
$color-darkgrey: #333333;

$fontsize-text: 1rem;
$fontsize-title: 1.4rem;
$fontsize-subtitle: 1.25rem;
$fontsize-small: 0.75rem;
$fontsize-arrow: 1.4rem;
$fontsize-icon: 2rem;

$font-normal: "proxima-nova", sans-serif;

$font-title: "proxima-nova", sans-serif;

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-normal;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

h1 {
  font-family: $font-title;
  font-weight: 700;
  font-style: normal;
}
h2 {
  font-family: $font-title;

  font-weight: 700;
  font-style: normal;
}

h3 {
  font-family: $font-title;

  font-weight: 700;
  font-style: normal;
}

p {
  font-size: $fontsize-text;
  font-family: $font-title;
}

nav {
  background-color: rgba(0, 0, 0, 0) !important;
  z-index: 10;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

.c-header {
  &__button {
    background-color: $color-red;
    border: none;
    color: $color-white;

    &:hover {
      background-color: $color-darkred;
      color: $color-white;
    }
    &:active {
      box-shadow: none;
      background-color: $color-darkred;
    }
  }
  &__titel {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  &__ondertitel {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}

.c-kwaliteit {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.c-over-ons {
  background-color: $color-lightgrey;
  margin-bottom: 3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.c-zo-werken-wij {
  padding-bottom: 4rem;
}

.c-nieuwsbrief {
  background-image: url(../images/nieuwsbriefimg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 0 10rem 0;
  margin-bottom: 3rem;

  &__button {
    width: 100%;
  }
  &__container {
    padding: 0;
  }
  &__titel {
    font-size: $fontsize-subtitle;
    font-weight: 700;
  }
  &__button {
    margin-top: 1rem;
    background-color: $color-red;
    border: none;

    &:hover {
      background-color: $color-darkred;
    }
    &:active {
      box-shadow: none !important;
      background-color: $color-darkred !important;
    }
  }
}

.btn-primary:focus {
  color: #fff;
  background-color: $color-darkred;
  border-color: none;
  box-shadow: none;
}

.c-vind-ons-hier {
  margin-bottom: 4rem;
}

.c-map {
  width: 100%;
  height: 25rem;
}

.c-info {
  align-items: center;
  margin-bottom: 1rem;
  &__info {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__tekst {
    margin-left: 1rem;
  }
  &__effect {
    text-decoration: none;
    color: $color-black;

    &:hover {
      color: $color-red;
    }
  }
}

.c-waarom-keurslager {
  background-color: $color-lightgrey;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.c-keurslager__titel {
  text-align: center;
  color: $color-red;

  font-weight: 700;
}

.c-veelgestelde-vragen {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.c-openingsuren {
  margin-top: 3rem;
}

.c-accordion {
  &__button {
    background-color: $color-lightgrey;
    &:active {
      color: $color-red !important;
    }
  }
}

.c-footer {
  background-color: $color-darkgrey;
  padding: 1rem 0 1rem 0;
  &__tekst {
    color: $color-white;
  }
}
.c-icon {
  font-size: $fontsize-icon;
  color: $color-white;
  &:hover {
    color: $color-red;
  }
}
/*---------------------------------------/*
 # BOOTSTRAP
/*---------------------------------------*/

.nav-link {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: $color-black !important;

  &:hover {
    color: $color-red !important;
  }
  &.active {
    text-decoration: underline;
    color: $color-black !important;
    text-decoration-color: $color-red;
  }
}

.navbar-toggler-icon {
  content: url(../images/toggleicon.png);
}

.navbar-toggler {
  box-shadow: none !important;
}

.navbar-light .navbar-nav .nav-link {
  color: $color-black;
}
.accordion-button {
  &:not(.collapsed) {
    color: $color-red !important;
    background-color: $color-lightgrey !important;
    border: none !important;
  }
  &:focus {
    box-shadow: none;
  }
}
.accordion-body {
  background-color: $color-lightgrey;
}

.card {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
}

.card .img-thumbnail {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/

.u-highlight {
  color: $color-red;
}

.u-bold {
  font-weight: 700;
}
