/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-size: 1rem;
  font-family: "proxima-nova", sans-serif;
}

nav {
  background-color: rgba(0, 0, 0, 0) !important;
  z-index: 10;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-header {
  padding-bottom: 10rem;
}

.c-header__button {
  background-color: #ce001b;
  border: none;
  color: #fff;
}

.c-header__button:hover {
  background-color: #a80016;
  color: #fff;
}

.c-header__button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #a80016;
}

.c-header__titel {
  font-size: 5rem;
}

.c-kwaliteit {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.c-over-ons {
  background-color: #f8f9fc;
  margin-bottom: 3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.c-nieuwsbrief {
  background-image: url(../images/nieuwsbriefimg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 0 10rem 0;
  margin-bottom: 3rem;
}

.c-nieuwsbrief__button {
  width: 100%;
}

.c-nieuwsbrief__container {
  padding: 0;
}

.c-nieuwsbrief__titel {
  font-size: 1.25rem;
  font-weight: 700;
}

.c-nieuwsbrief__button {
  margin-top: 1rem;
  background-color: #ce001b;
  border: none;
}

.c-nieuwsbrief__button:hover {
  background-color: #a80016;
}

.c-nieuwsbrief__button:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #a80016 !important;
}

.btn-primary:focus {
  color: #fff;
  background-color: #a80016;
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-vind-ons-hier {
  margin-bottom: 4rem;
}

.c-map {
  width: 100%;
  height: 25rem;
}

.c-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.c-info__info {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.c-info__tekst {
  margin-left: 1rem;
}

.c-info__effect {
  text-decoration: none;
  color: #000;
}

.c-info__effect:hover {
  color: #ce001b;
}

.c-waarom-keurslager {
  background-color: #f8f9fc;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.c-keurslager__titel {
  text-align: center;
  color: #ce001b;
  font-weight: 700;
}

.c-veelgestelde-vragen {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.c-accordion__button {
  background-color: #f8f9fc;
}

.c-accordion__button:active {
  color: #ce001b !important;
}

.c-footer {
  background-color: #333333;
  padding: 1rem 0 1rem 0;
}

.c-footer__tekst {
  color: #fff;
}

.c-icon {
  font-size: 2rem;
  color: #fff;
}

/*---------------------------------------/*
 # BOOTSTRAP
/*---------------------------------------*/
.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #ce001b !important;
}

.nav-link.active {
  text-decoration: underline;
  color: #000 !important;
  -webkit-text-decoration-color: #ce001b;
          text-decoration-color: #ce001b;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.accordion-button:not(.collapsed) {
  color: #ce001b !important;
  background-color: #f8f9fc !important;
  border: none !important;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-body {
  background-color: #f8f9fc;
}

.card {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .img-thumbnail {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
.u-highlight {
  color: #ce001b;
}

.u-bold {
  font-weight: 700;
}
